@model WardrobeMVC.Outfit

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Outfit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OutfitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutfitName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutfitNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutfitNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Belt.BeltName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Belt.BeltName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pant.PantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pant.PantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shirt.ShirtName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shirt.ShirtName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sho.ShoeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sho.ShoeName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
