@model WardrobeMVC.Outfit

@{
    ViewBag.Title = "Details";
}

<header>
    <link href="~/Content/outfitdetailgrid.css" rel="stylesheet" />  <!-- CSS layout for outfit details -->
</header>


<div>


    <div class="grid-container">

        <div class="outfitTitle">
            <h4>@Html.DisplayFor(model => model.OutfitName)</h4>
            <p>@Html.DisplayFor(model => model.OutfitNotes)</p>

        </div>

        <div class="outfitDetails">
            <p>@Html.DisplayNameFor(model => model.Shirt.ShirtName): @Html.DisplayFor(model => model.Shirt.ShirtName)</p>
            <p>@Html.DisplayNameFor(model => model.Pant.PantName): @Html.DisplayFor(model => model.Pant.PantName)</p>
            <p>@Html.DisplayNameFor(model => model.Sho.ShoeName)es: @Html.DisplayFor(model => model.Sho.ShoeName)</p>
            <p>@Html.DisplayNameFor(model => model.Belt.BeltName): @Html.DisplayFor(model => model.Belt.BeltName)</p>


        </div>



        <div class="shirtImg">
            <img src="~/Images/@Html.DisplayFor(model =>model.Shirt.ShirtImage)" style="max-width:350px;" />
        </div>
        <div class="pantImg">
            <img src="~/Images/@Html.DisplayFor(model =>model.Pant.PantPhoto)" style="max-width:350px;" />
        </div>

        <div class="shoeImg">
            <img src="~/Images/@Html.DisplayFor(model =>model.Sho.ShoePhoto)" style="max-width:350px;" />
        </div>

        <div class="beltImg">
            <img src="~/Images/@Html.DisplayFor(model =>model.Belt.BeltImage)" style="max-width:350px;" />
        </div>

        <div class="controls">
           <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.OutfitId }) |
            @Html.ActionLink("Back to List", "Index")
           </p>
        </div>

    </div>
</div>
           