@model WardrobeMVC.Belt

@{
    ViewBag.Title = "Details";
}

<head>

    <link href="~/Content/itemdetailsgrid.css" rel="stylesheet" />

</head>

<h2>Details</h2>

<div>
    <h4>Belt</h4>

    <div class="grid-container">

        <div class="item1">
            <img src="~/Images/@Html.DisplayFor(model =>model.BeltImage)" style="width:600px;" />
        </div>

        <div class="item2">
            <h2>@Html.DisplayFor(model => model.BeltName)</h2>
        </div>

        <div class="item3">
            <p>@Html.DisplayFor(model => model.BeltNotes)</p>
        </div>

        <div class="item4">
            <p>@Html.DisplayNameFor(model => model.BeltType): @Html.DisplayFor(model => model.BeltType.BeltType1)</p>
            <p>@Html.DisplayNameFor(model => model.BeltColor): @Html.DisplayFor(model => model.BeltColor.BeltColor1)</p>
            <p>@Html.DisplayNameFor(model => model.BeltOccasion): @Html.DisplayFor(model => model.BeltOccasion.BeltOccasion1)</p>
            <p>@Html.DisplayNameFor(model => model.BeltSeason): @Html.DisplayFor(model => model.BeltSeason.BeltSeason1)</p>
        </div>

        <div class="item5">
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.BeltId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>
