@model IEnumerable<WardrobeMVC.Belt>

@{
    ViewBag.Title = "Belts";
}

<head>

    <link href="~/Content/indexgrid.css" rel="stylesheet" />






</head>

<h2>Belts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*<p>@foreach (var item in Model) { }</p>*@

<div class="divTable">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableHead">@Html.DisplayNameFor(model => model.BeltName)</div>
            <div class="divTableHead">@Html.DisplayNameFor(model => model.BeltImage)</div>
            <div class="divTableHead">@Html.DisplayNameFor(model => model.BeltNotes)</div>
            <div class="divTableHead">@Html.DisplayNameFor(model => model.BeltOccasion)</div>
            <div class="divTableHead">@Html.DisplayNameFor(model => model.BeltSeason)</div>
            <div class="divTableHead">@Html.DisplayNameFor(model => model.BeltType)</div>
            <div class="divTableHead">&nbsp;</div>
        </div>
        @foreach (var item in Model)
                    {
        <div class="divTableRow">
            <div class="divTableCell">@Html.DisplayFor(modelItem => item.BeltName)</div>
            <div class="divTablePhoto"><img src="~/Images/@Html.DisplayFor(modelItem => item.BeltImage)" style="width:75px;" /></div>
            <div class="divTableCell">@Html.DisplayFor(modelItem => item.BeltNotes)</div>
            <div class="divTableCell">@Html.DisplayFor(modelItem => item.BeltOccasion.BeltOccasion1)</div>
            <div class="divTableCell">@Html.DisplayFor(modelItem => item.BeltSeason.BeltSeason1)</div>
            <div class="divTableCell">@Html.DisplayFor(modelItem => item.BeltType.BeltType1)</div>
            <div class="divTableCell">@Html.ActionLink("Edit", "Edit", new { id = item.BeltId }) | @Html.ActionLink("Details", "Details", new { id = item.BeltId }) | @Html.ActionLink("Delete", "Delete", new { id = item.BeltId })</div>
        </div>
     }
    </div>
</div>
