@model WardrobeMVC.Pant

@{
    ViewBag.Title = "Details";
}



<head>

    <link href="~/Content/itemdetailsgrid.css" rel="stylesheet" /> <!-- Details stylesheet with layout -->

</head>


<div>

    <div class="grid-container">

        <div class="item1">

            <img src="~/Images/@Html.DisplayFor(model => model.PantPhoto)" style="width:600px;" />

        </div>

        <div class="item2">
            <h4>@Html.DisplayFor(model => model.PantName)</h4>
        </div>

        <div class="item3">
            <p>@Html.DisplayFor(model => model.PantNotes)</p>
        </div>

        <div class="item4">
            <p>@Html.DisplayNameFor(model => model.PantType): @Html.DisplayFor(model => model.PantType.PantType1)</p>
            <p>@Html.DisplayNameFor(model => model.PantColor): @Html.DisplayFor(model => model.PantColor.PantColor1)</p>
            <p>@Html.DisplayNameFor(model => model.PantOccasion): @Html.DisplayFor(model => model.PantOccasion.PantOccasions)</p>
            <p>@Html.DisplayNameFor(model => model.PantSeason): @Html.DisplayFor(model => model.PantSeason.PantSeason1)</p>
        </div>

        <div class="item5">
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.PantId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>

    </div>
</div>
