@model IEnumerable<WardrobeMVC.Pant>

@{
    ViewBag.Title = "Index";
}

<head>

    <link href="~/Content/indexgrid.css" rel="stylesheet" /> <!-- Reference for CSS table -->

</head>

<h2>Pants</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



<div class="divTable">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableHead">@Html.DisplayNameFor(model => model.PantName)</div>
            <div class="divTableHead">@Html.DisplayNameFor(model => model.PantPhoto)</div>
            <div class="divTableHead">@Html.DisplayNameFor(model => model.PantNotes)</div>
            <div class="divTableHead">@Html.DisplayNameFor(model => model.PantOccasion)</div>
            <div class="divTableHead">@Html.DisplayNameFor(model => model.PantSeason)</div>
            <div class="divTableHead">@Html.DisplayNameFor(model => model.PantType)</div>
            <div class="divTableHead">&nbsp;</div>
        </div>
        @foreach (var item in Model)
        {
            <div class="divTableRow">
                <div class="divTableCell">@Html.DisplayFor(modelItem => item.PantName)</div>
                <div class="divTablePhoto"><img src="~/Images/@Html.DisplayFor(modelItem => item.PantPhoto)" style="width:75px;" /></div>
                <div class="divTableCell">@Html.DisplayFor(modelItem => item.PantNotes)</div>
                <div class="divTableCell">@Html.DisplayFor(modelItem => item.PantOccasion.PantOccasions)</div>
                <div class="divTableCell">@Html.DisplayFor(modelItem => item.PantSeason.PantSeason1)</div>
                <div class="divTableCell">@Html.DisplayFor(modelItem => item.PantType.PantType1)</div>
                <div class="divTableCell">@Html.ActionLink("Edit", "Edit", new { id = item.PantId }) | @Html.ActionLink("Details", "Details", new { id = item.PantId }) | @Html.ActionLink("Delete", "Delete", new { id = item.PantId })</div>
            </div>
        }
    </div>
</div>



   
