@model WardrobeMVC.Sho

@{
    ViewBag.Title = "Details";
}

<head>

    <link href="~/Content/itemdetailsgrid.css" rel="stylesheet" /> <!-- Details stylesheet with layout -->

</head>


<div>

    <div class="grid-container">

        <div class="item1">

            <img src="~/Images/@Html.DisplayFor(model => model.ShoePhoto)" style="width:600px;" />

        </div>

        <div class="item2">
            <h4>@Html.DisplayFor(model => model.ShoeName)</h4>
        </div>

        <div class="item3">
            <p>@Html.DisplayFor(model => model.ShoeNotes)</p>
        </div>

        <div class="item4">
            <p>@Html.DisplayNameFor(model => model.ShoeType): @Html.DisplayFor(model => model.ShoeType.ShoeType1)</p>
            <p>@Html.DisplayNameFor(model => model.ShoeColor): @Html.DisplayFor(model => model.ShoeColor.ShoeColorName)</p>
            <p>@Html.DisplayNameFor(model => model.ShoeOccasion): @Html.DisplayFor(model => model.ShoeOccasion.ShoeOccasion1)</p>
            <p>@Html.DisplayNameFor(model => model.ShoeSeason): @Html.DisplayFor(model => model.ShoeSeason.ShoeSeason1)</p>
        </div>

        <div class="item5">
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ShoeId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>

    </div>
</div>
