@model IEnumerable<WardrobeMVC.Sho>

@{
    ViewBag.Title = "Index";
}

<head>

    <link href="~/Content/indexgrid.css" rel="stylesheet" /> <!-- Reference for CSS table -->

</head>

<h2>Shoes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



<div class="divTable">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableHead">@Html.DisplayNameFor(model => model.ShoeName)</div>
            <div class="divTableHead">@Html.DisplayNameFor(model => model.ShoePhoto)</div>
            <div class="divTableHead">@Html.DisplayNameFor(model => model.ShoeNotes)</div>
            <div class="divTableHead">@Html.DisplayNameFor(model => model.ShoeOccasion)</div>
            <div class="divTableHead">@Html.DisplayNameFor(model => model.ShoeSeason)</div>
            <div class="divTableHead">@Html.DisplayNameFor(model => model.ShoeType)</div>
            <div class="divTableHead">&nbsp;</div>
        </div>
        @foreach (var item in Model)
        {
            <div class="divTableRow">
                <div class="divTableCell">@Html.DisplayFor(modelItem => item.ShoeName)</div>
                <div class="divTablePhoto"><img src="~/Images/@Html.DisplayFor(modelItem => item.ShoePhoto)" style="width:75px;" /></div>
                <div class="divTableCell">@Html.DisplayFor(modelItem => item.ShoeNotes)</div>
                <div class="divTableCell">@Html.DisplayFor(modelItem => item.ShoeOccasion.ShoeOccasion1)</div>
                <div class="divTableCell">@Html.DisplayFor(modelItem => item.ShoeSeason.ShoeSeason1)</div>
                <div class="divTableCell">@Html.DisplayFor(modelItem => item.ShoeType.ShoeType1)</div>
                <div class="divTableCell">@Html.ActionLink("Edit", "Edit", new { id = item.ShoeId }) | @Html.ActionLink("Details", "Details", new { id = item.ShoeId }) | @Html.ActionLink("Delete", "Delete", new { id = item.ShoeId })</div>
            </div>
        }
    </div>
</div>




@*@model IEnumerable<WardrobeMVC.Sho>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShoeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoePhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoeNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoeColor.ShoeColorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoeOccasion.ShoeOccasion1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoeSeason.ShoeSeason1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoeType.ShoeType1)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShoeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShoePhoto)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShoeNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShoeColor.ShoeColorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShoeOccasion.ShoeOccasion1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShoeSeason.ShoeSeason1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShoeType.ShoeType1)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ShoeId }) |
                @Html.ActionLink("Details", "Details", new { id=item.ShoeId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ShoeId })
            </td>
        </tr>
    }

    </table>*@
